.topo-impressao {
  background-color: #f3f3f3;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-print-color-adjust: exact;
}

.top-impressao-interno-1 {
  margin-bottom: 20px;
}

.topo-impressao-interno-2 p {
  margin-bottom: 0;
  font-weight: 500;
}

.data-impressao {
  font-size: 0.8em;
  font-weight: bold;
  padding: 10px;
}
.chave-impressao {
  font-size: 0.8em;
  background-color: #383838;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  -webkit-print-color-adjust: exact;
}

.assinatura-impressao {
  margin-top: 80px;
}

.assinatura-impressao p {
  float: right;
  border-top: 1px solid #cecece;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  -webkit-print-color-adjust: exact;
}
