#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5); */
  z-index: 9999;
  cursor: pointer;
  }

input[type='file'].documento__input__file,
input[type='file'].file-style {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type='file'].file-style + label {
  width: 100%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ced4d9;
  margin-top: 27px;
  margin-bottom: 0;
}

input[type='file'].file-style + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

input[type='file'].file-style:focus + label,
input[type='file'].file-style.has-focus + label,
input[type='file'].file-style + label:hover {
  color: #1b4e82;
}
.receita-detalhes-row {
  background-color: #fff !important;
}

#btn-adicionar-receita-medicamento {
  margin-top: 30px !important;
}

.plano {
  position: absolute !important;
  background-color: #f1c40f;
  cursor: pointer;
  top: -1px;
  left: -1px;
  width: 100px !important;
  height: 100px !important;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  transition: all .2s;
}

.plano span {
  position: absolute;
  bottom: 50%;
  left: 50%;  
  margin: 0 !important;
  transform: rotate(-45deg) translate(-50%, -100%);
  opacity: 1;
}

.plano .plano_detalhes {
  padding: 50px;
  border: none;
  color: #fff;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);  
  transition: all .2s;
}

.plano:hover {
  width: 101% !important;
  height: 101% !important;
  -webkit-clip-path: none;
  clip-path: none;
}

.plano:hover span {
  opacity: 0;
}

.plano:hover .plano_detalhes {
  opacity: 1;
}

.pagamento__medico p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.pagamento__medico button {
  margin: 10px 0;
}

.medico-planos-modal .modal-header {
  background-color: #00c4bd;
  color: #fff;
}

.medico-planos-modal .modal-body img {
  height: 60px;
  margin-bottom: 10px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  position: absolute;  
}

.medico-planos-modal .modal-body button {
  position: absolute;
  left: calc(50% + 130px);
  top: 20px;  
}

.medico-planos-modal .modal-body .planos__display {
  margin-top: 70px;
  width: '100%';
  height: '100%';
  display: flex;
  justify-content: space-around;  
}

@media screen and (max-width: 690px) { 
  .medico-planos-modal .modal-body .planos__display { 
    flex-direction: column;
  }
}

.plano__alteracao {
  border: 1px solid #ccc;
  width: 250px;
  text-align: center;
  padding: 20px;
  position: relative;  
}

@media screen and (max-width: 690px) { 
  .plano__alteracao {
    width: 100%;
    margin-bottom: 10px;
  }
}

.plano__alteracao div {
  margin-bottom: 10px;
}

.plano__alteracao.recomendado {
  border-color: #f1c40f;
}

.plano__alteracao .plano-titulo {
  font-weight: 700;
  text-transform: uppercase;
}

.plano__alteracao .plano-valor {
  font-weight: 700;
  color: #00c4bd;
  font-size: 2em;
}

.plano__alteracao .plano-valor span {
  font-size: 0.5em;
}

.plano__alteracao .plano-recomendado {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f1c40f;
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  width: 80px;
  height: 80px;
}

.plano__alteracao .plano-recomendado span {
  color: #fff;
  transform: rotate(45deg) translate(107%, 140%);
  position: absolute;
  top: -50%;
  right: 50%;
  font-size: .5em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}