@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
.main__wrapper,
.dashboard__wrapper {
  padding: 30px 100px 0 100px;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .main__wrapper,
  .dashboard__wrapper {
    padding: 30px 50px 0 50px;
  }
}

@media screen and (max-width: 690px) {
  .main__wrapper,
  .dashboard__wrapper {
    padding: 10px 20px 0 20px;
  }
}

.button__alcancy {
  background-color: #00b879;
  border: none;
  border-bottom: 2px solid #00a6a2;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8em;
  min-width: 100px;
}

.button__alcancy.button__color__2 {
  background-color: #00a99b;
}

.button__alcancy.btn-danger {
  background-color: #c70000;
  border-bottom: 2px solid #ae0000;
}

.button__alcancy:hover {
  background-color: #008557;
  border-color: #00a6a2;
}

.button__alcancy:hover.button__color__2 {
  background-color: #00766c;
}

.button__alcancy:hover.btn-danger {
  background-color: #940000;
  border-bottom: 2px solid #ae0000;
}

.button__alcancy:active {
  background-color: #008557 !important;
  border-color: #00a6a2 !important;
}

.button__alcancy:active.button__color__2 {
  background-color: #00766c !important;
}

.button__alcancy:active.btn-danger {
  background-color: #940000 !important;
  border-bottom: 2px solid #ae0000;
}

.button__alcancy:disabled {
  background-color: #008557 !important;
  border-color: #00a6a2 !important;
}

.button__alcancy:disabled.button__color__2 {
  background-color: #00766c !important;
}

.button__alcancy:disabled.btn-danger {
  background-color: #940000 !important;
  border-bottom: 2px solid #ae0000;
}

@media screen and (max-width: 690px) {
  .button__alcancy {
    display: block;
    width: 100%;
  }
}

form label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 690px) {
  form .float-right {
    display: block;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body.open {
  overflow: hidden;
}

body.open .alcancy__wrapper {
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body h1 {
  color: #00c4bd;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

body a:hover {
  text-decoration: none !important;
}

.main {
  min-height: calc(100vh - 250px);
}

.alcancy__alerta {
  position: relative;
  display: block;
  background-color: #ff7675;
  margin: 5px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  font-size: .8em;
  text-align: center;
}

.alcancy__alerta.alcancy__alerta__bottom:after {
  content: '';
  position: absolute;
  background-color: #ff7675;
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
}

.alcancy__alerta.alcancy__alerta__top:after {
  content: '';
  position: absolute;
  background-color: #ff7675;
  width: 10px;
  height: 10px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

header {
  position: relative;
  height: 100px;
  border-bottom: 2px solid #00c4bd;
}

@media screen and (max-width: 690px) {
  header {
    height: 60px;
  }
}

header img.logo {
  position: relative;
  height: 60px;
  margin: 20px 0 0 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media screen and (max-width: 1200px) {
  header img.logo {
    margin-left: 50px;
  }
}

@media screen and (max-width: 690px) {
  header img.logo {
    height: 40px;
    margin: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 360px) {
  header img.logo {
    height: 40px;
  }
}

header ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  list-style: none;
  right: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  header ul {
    right: 50px;
  }
}

@media screen and (max-width: 690px) {
  header ul {
    display: block;
    float: none;
    background-color: #d9fffe;
    position: absolute;
    top: 60px;
    left: -100vw;
    width: 250px;
    height: calc(100vh - 60px);
    z-index: 1;
  }
  header ul.open {
    left: 0;
  }
}

header ul li {
  position: relative;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  clear: both;
}

header ul li:before, header ul li::after {
  clear: both;
}

header ul li.alcancy__menu:last-child {
  width: 220px;
}

@media screen and (max-width: 690px) {
  header ul li.alcancy__menu:last-child {
    width: auto;
  }
}

header ul li.alcancy__menu:last-child ul li a {
  width: 100%;
}

header ul li.alcancy__menu a {
  color: #333;
  text-transform: capitalize;
}

header ul li.alcancy__menu a:hover {
  text-decoration: none;
}

header ul li.alcancy__menu a img {
  float: left;
  padding-left: 10px;
}

@media screen and (max-width: 690px) {
  header ul li.alcancy__menu a img {
    position: relative;
    left: 10px;
    padding-top: 5px;
  }
}

header ul li.alcancy__menu:hover {
  display: block;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

header ul li.alcancy__menu:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #00c4bd;
}

header ul li.alcancy__menu:hover .alcancy__dropdown {
  display: block;
}

@media screen and (max-width: 690px) {
  header ul li.alcancy__menu:hover:before {
    width: 4px;
    height: 100%;
  }
  header ul li.alcancy__menu:hover .alcancy__dropdown {
    display: contents;
  }
}

@media screen and (max-width: 690px) {
  header ul li {
    display: block;
    height: auto;
    margin: 0 10px;
  }
}

header ul li hr {
  margin: 10px 5px;
}

header ul li a {
  position: relative;
  margin: 32px 0 0 0;
  display: block;
  height: 36px;
  width: 150px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  word-wrap: break-word;
}

@media screen and (max-width: 840px) {
  header ul li a {
    width: 120px;
    font-size: .9em;
  }
}

@media screen and (max-width: 690px) {
  header ul li a {
    margin: 20px 0 0 0;
    width: 100%;
  }
}

header ul li a.contratar {
  color: #008b7e;
}

header ul li a.sou-medico {
  color: #00b879;
}

header ul li a.sou-paciente {
  color: #58d0cb;
}

header ul li a.area-medico {
  border-radius: 5px;
  border-bottom: 2px solid #00a6a2;
  font-size: .9em;
  color: #fff;
  text-decoration: none;
  background-color: #00c4bd;
  margin-left: 20px;
}

@media screen and (max-width: 840px) {
  header ul li a.area-medico {
    font-size: .8em;
  }
}

@media screen and (max-width: 690px) {
  header ul li a.area-medico {
    font-size: .9em;
    margin-left: 0;
  }
}

header ul li a.area-medico:hover {
  background-color: #00aba4;
}

header ul .alcancy__dropdown {
  display: none;
  margin: 0;
  margin: 10px 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  position: relative;
  left: 0;
}

header ul .alcancy__dropdown li {
  display: block;
  height: auto;
  text-align: left;
}

header ul .alcancy__dropdown li:hover {
  border-top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f1f4f5;
}

header ul .alcancy__dropdown li:hover a {
  margin: 0;
}

header ul .alcancy__dropdown li a {
  margin: 0;
  padding-left: 20px;
}

header ul .alcancy__dropdown li a:hover {
  text-decoration: none;
}

header .hamburguer {
  display: none;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 32px;
  height: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  header .hamburguer {
    display: block;
  }
}

header .hamburguer span {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4px;
  background-color: #00c4bd;
  border-radius: 4px;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .hamburguer span:before, header .hamburguer span:after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  display: block;
  background-color: #00c4bd;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .hamburguer span:before {
  top: -10px;
}

header .hamburguer span:after {
  top: 10px;
}

header .hamburguer.open span {
  background-color: rgba(0, 0, 0, 0);
}

header .hamburguer.open span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .hamburguer.open span:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.full__banner {
  background-image: url("../images/fullbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 661px;
  color: #fff;
  padding: 0 100px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .full__banner {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1200px) {
  .full__banner {
    padding: 0 20px;
  }
}

.full__banner h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 700;
  padding: 200px 0 30px 0;
  width: 700px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .full__banner h1 {
    width: 500px;
  }
}

@media screen and (max-width: 840px) {
  .full__banner h1 {
    width: 400px;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 690px) {
  .full__banner h1 {
    width: 100%;
    text-align: center;
    padding: 50px 0 30px 0;
  }
}

.full__banner p {
  width: 600px;
  font-size: 1em;
  line-height: 1.3em;
}

@media screen and (max-width: 840px) {
  .full__banner p {
    width: 450px;
  }
}

@media screen and (max-width: 690px) {
  .full__banner p {
    width: 100%;
    text-align: justify;
  }
}

.full__banner .validar__documento {
  background-color: #fff;
  border-top: 4px solid #00c4bd;
  color: #333;
  width: 400px;
  padding: 50px 50px;
  text-align: center;
  position: absolute;
  top: 100px;
  right: 100px;
}

@media screen and (max-width: 1200px) {
  .full__banner .validar__documento {
    right: 50px;
  }
}

@media screen and (max-width: 840px) {
  .full__banner .validar__documento {
    padding: 30px 30px;
    width: 300px;
  }
}

@media screen and (max-width: 690px) {
  .full__banner .validar__documento {
    width: 250px;
    left: 50px;
    right: 50px;
    width: calc(100vw - 80px);
    top: calc(50% + 20px);
  }
}

.full__banner .validar__documento h4 {
  color: #00c4bd;
  padding-bottom: 40px;
}

@media screen and (max-width: 840px) {
  .full__banner .validar__documento h4 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 690px) {
  .full__banner .validar__documento h4 {
    font-size: 1em;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 690px) {
  .full__banner .validar__documento label {
    font-size: .8em;
  }
}

@media screen and (max-width: 690px) {
  .full__banner .validar__documento input {
    font-size: .8em;
  }
}

@media screen and (max-width: 690px) {
  .full__banner .validar__documento button {
    font-size: .8em;
  }
}

.full__banner .validar__documento .form-group {
  padding-bottom: 40px;
}

.porque__contratar {
  padding: 50px 100px;
}

@media screen and (max-width: 1200px) {
  .porque__contratar {
    padding: 50px;
  }
}

@media screen and (max-width: 840px) {
  .porque__contratar {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 690px) {
  .porque__contratar {
    padding: 20px;
  }
}

.porque__contratar .texto__porque__contratar {
  position: relative;
  width: 500px;
  float: left;
  padding-top: 100px;
}

@media screen and (max-width: 1200px) {
  .porque__contratar .texto__porque__contratar {
    width: 500px;
  }
}

@media screen and (max-width: 840px) {
  .porque__contratar .texto__porque__contratar {
    width: 400px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 690px) {
  .porque__contratar .texto__porque__contratar {
    width: 100%;
    padding-top: 10px;
    float: none;
    display: block;
  }
  .porque__contratar .texto__porque__contratar a {
    display: block;
  }
}

.porque__contratar .texto__porque__contratar h1 {
  color: #00c4bd;
}

@media screen and (max-width: 840px) {
  .porque__contratar .texto__porque__contratar h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 690px) {
  .porque__contratar .texto__porque__contratar h1 {
    font-size: 1.2em;
  }
}

.porque__contratar .imagem__porque___contratar {
  width: 500px;
  height: 500px;
  background-color: #e5f9f8;
  border-radius: 50%;
  position: relative;
  float: right;
}

@media screen and (max-width: 840px) {
  .porque__contratar .imagem__porque___contratar {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 690px) {
  .porque__contratar .imagem__porque___contratar {
    width: 320px;
    height: 320px;
    float: none;
    display: block;
    margin-top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.porque__contratar .imagem__porque___contratar img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 840px) {
  .porque__contratar .imagem__porque___contratar img {
    height: 320px;
  }
}

@media screen and (max-width: 690px) {
  .porque__contratar .imagem__porque___contratar img {
    height: 270px;
  }
}

.o__que__fazemos {
  position: relative;
  background-color: #e5f6f5;
  height: 1000px;
}

@media screen and (max-width: 840px) {
  .o__que__fazemos {
    height: 800px;
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos {
    height: 500px;
  }
}

.o__que__fazemos h1 {
  color: #00c4bd;
  padding-top: 30px;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .o__que__fazemos h1 {
    font-size: 1.5em;
  }
}

.o__que__fazemos .circulo__interno {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulo__interno {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulo__interno {
    width: 250px;
    height: 250px;
  }
}

.o__que__fazemos .circulo__externo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 700px;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulo__externo {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulo__externo {
    width: 350px;
    height: 350px;
  }
}

.o__que__fazemos .circulos {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos {
    width: 100px;
    height: 100px;
  }
}

.o__que__fazemos .circulos p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  width: 150px;
  text-align: center;
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos p {
    width: 90px;
    font-size: .7em;
    word-wrap: break-word;
  }
}

.o__que__fazemos .circulos.emissao_receitas {
  background-image: url("../images/emissao_receitas.png");
  -webkit-transform: translate(calc(-50% - 250px), calc(-50% - 220px));
          transform: translate(calc(-50% - 250px), calc(-50% - 220px));
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.emissao_receitas {
    -webkit-transform: translate(calc(-50% - 200px), calc(-50% - 170px));
            transform: translate(calc(-50% - 200px), calc(-50% - 170px));
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.emissao_receitas {
    -webkit-transform: translate(calc(-50% - 120px), calc(-50% - 120px));
            transform: translate(calc(-50% - 120px), calc(-50% - 120px));
  }
}

.o__que__fazemos .circulos.emissao_atestados {
  background-image: url("../images/emissao_atestados.png");
  -webkit-transform: translate(-50%, calc(-50% - 220px));
          transform: translate(-50%, calc(-50% - 220px));
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.emissao_atestados {
    -webkit-transform: translate(-50%, calc(-50% - 170px));
            transform: translate(-50%, calc(-50% - 170px));
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.emissao_atestados {
    -webkit-transform: translate(-50%, calc(-50% - 130px));
            transform: translate(-50%, calc(-50% - 130px));
  }
}

.o__que__fazemos .circulos.validacao_documentos {
  background-image: url("../images/validacao_documentos.png");
  -webkit-transform: translate(calc(-50% + 250px), calc(-50% - 220px));
          transform: translate(calc(-50% + 250px), calc(-50% - 220px));
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.validacao_documentos {
    -webkit-transform: translate(calc(-50% + 200px), calc(-50% - 170px));
            transform: translate(calc(-50% + 200px), calc(-50% - 170px));
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.validacao_documentos {
    -webkit-transform: translate(calc(-50% + 120px), calc(-50% - 120px));
            transform: translate(calc(-50% + 120px), calc(-50% - 120px));
  }
}

.o__que__fazemos .circulos.gestao_documentos {
  background-image: url("../images/gestao_documentos.png");
  -webkit-transform: translate(calc(-50% + 320px), -50%);
          transform: translate(calc(-50% + 320px), -50%);
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.gestao_documentos {
    -webkit-transform: translate(calc(-50% + 270px), -50%);
            transform: translate(calc(-50% + 270px), -50%);
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.gestao_documentos {
    -webkit-transform: translate(calc(-50% + 130px), -50%);
            transform: translate(calc(-50% + 130px), -50%);
  }
}

.o__que__fazemos .circulos.gestao_pacientes {
  background-image: url("../images/gestao_pacientes.png");
  -webkit-transform: translate(calc(-50% + 250px), calc(-50% + 220px));
          transform: translate(calc(-50% + 250px), calc(-50% + 220px));
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.gestao_pacientes {
    -webkit-transform: translate(calc(-50% + 200px), calc(-50% + 170px));
            transform: translate(calc(-50% + 200px), calc(-50% + 170px));
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.gestao_pacientes {
    -webkit-transform: translate(calc(-50% + 120px), calc(-50% + 120px));
            transform: translate(calc(-50% + 120px), calc(-50% + 120px));
  }
}

.o__que__fazemos .circulos.sem_burocracia {
  background-image: url("../images/sem_burocracia.png");
  -webkit-transform: translate(-50%, calc(-50% + 220px));
          transform: translate(-50%, calc(-50% + 220px));
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.sem_burocracia {
    -webkit-transform: translate(-50%, calc(-50% + 170px));
            transform: translate(-50%, calc(-50% + 170px));
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.sem_burocracia {
    -webkit-transform: translate(-50%, calc(-50% + 130px));
            transform: translate(-50%, calc(-50% + 130px));
  }
}

.o__que__fazemos .circulos.cancele_quando_quiser {
  background-image: url("../images/cancele_quando_quiser.png");
  -webkit-transform: translate(calc(-50% - 250px), calc(-50% + 220px));
          transform: translate(calc(-50% - 250px), calc(-50% + 220px));
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.cancele_quando_quiser {
    -webkit-transform: translate(calc(-50% - 200px), calc(-50% + 170px));
            transform: translate(calc(-50% - 200px), calc(-50% + 170px));
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.cancele_quando_quiser {
    -webkit-transform: translate(calc(-50% - 120px), calc(-50% + 120px));
            transform: translate(calc(-50% - 120px), calc(-50% + 120px));
  }
}

.o__que__fazemos .circulos.comece__ja {
  background-color: #00c4bd;
  -webkit-transform: translate(calc(-50% - 320px), -50%);
          transform: translate(calc(-50% - 320px), -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.comece__ja {
    -webkit-transform: translate(calc(-50% - 270px), -50%);
            transform: translate(calc(-50% - 270px), -50%);
  }
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.comece__ja {
    -webkit-transform: translate(calc(-50% - 130px), -50%);
            transform: translate(calc(-50% - 130px), -50%);
  }
}

.o__que__fazemos .circulos.comece__ja:after {
  content: '';
  position: absolute;
  width: 130px;
  height: 5px;
  background-color: #00c4bd;
  top: 50%;
  right: -130px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.comece__ja:after {
    width: 20px;
    right: -20px;
  }
}

.o__que__fazemos .circulos.preco {
  border: 4px solid #00c4bd;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 690px) {
  .o__que__fazemos .circulos.preco {
    width: 130px;
    height: 130px;
  }
}

.o__que__fazemos .circulos.preco .preco__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.o__que__fazemos .circulos.preco .preco__wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #00c4bd;
  font-size: 4em;
  font-weight: 700;
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.preco .preco__wrapper span {
    font-size: 3em;
  }
}

.o__que__fazemos .circulos.preco .preco__wrapper span sup {
  font-size: .6em;
}

.o__que__fazemos .circulos.preco .preco__wrapper span.preco__text {
  text-transform: uppercase;
  font-size: .8em;
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.preco .preco__wrapper span.preco__text {
    font-size: .7em;
  }
}

.o__que__fazemos .circulos.preco .preco__wrapper span.preco__text:first-child {
  left: calc(50% - 30px);
  top: calc(50% - 35px);
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.preco .preco__wrapper span.preco__text:first-child {
    left: calc(50% - 15px);
    top: calc(50% - 25px);
  }
}

.o__que__fazemos .circulos.preco .preco__wrapper span.preco__text:last-child {
  left: calc(50% + 40px);
  top: calc(50% + 20px);
}

@media screen and (max-width: 840px) {
  .o__que__fazemos .circulos.preco .preco__wrapper span.preco__text:last-child {
    left: calc(50% + 30px);
    top: calc(50% + 15px);
  }
}

.o__que__fazemos .circulos.preco:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #00c4bd;
  border-radius: 50%;
  top: 50%;
  left: -12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.depoimentos {
  margin-bottom: 40px;
}

.depoimentos h1 {
  color: #00c4bd;
  padding: 30px 0;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .depoimentos h1 {
    font-size: 1.5em;
  }
}

.depoimentos .depoimento__wrapper {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 800px;
}

.depoimentos .depoimento__wrapper .depoimento__texto {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 690px) {
  .depoimentos .depoimento__wrapper .depoimento__texto {
    padding: 0 20px;
  }
}

.depoimentos .depoimento__wrapper .depoimento__texto:before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: #00c4bd;
}

.depoimentos .depoimento__wrapper .depoimento__autor {
  text-align: center;
}

.depoimentos .depoimento__wrapper .depoimento__autor p {
  color: #00c4bd;
  margin-bottom: 0;
}

.oque__fazemos,
.tenho__interesse {
  position: relative;
  width: 50%;
  float: left;
  padding: 0 30px 0 0;
}

@media screen and (max-width: 840px) {
  .oque__fazemos,
  .tenho__interesse {
    width: 100%;
    float: none;
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
}

@media screen and (max-width: 690px) {
  .oque__fazemos,
  .tenho__interesse {
    width: 100%;
    float: none;
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
}

.oque__fazemos h1,
.tenho__interesse h1 {
  color: #00c4bd;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0;
}

.oque__fazemos ul {
  list-style: none;
}

.oque__fazemos ul li {
  background-color: #e5f6f5;
  margin: 10px 0;
  padding: 5px 10px;
  height: 50px;
}

.oque__fazemos ul li i {
  color: #00c4bd;
}

.oque__fazemos ul li span {
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #666666;
  line-height: 40px;
}

.oque__fazemos .preco {
  position: absolute;
  width: 260px;
  height: 260px;
  border: 4px solid #00c4bd;
  border-radius: 50%;
  top: calc(50% - 40px);
  right: 80px;
  background-color: #fff;
}

@media screen and (max-width: 1200px) {
  .oque__fazemos .preco {
    width: 220px;
    height: 220px;
    top: calc(50% + 50px);
  }
}

@media screen and (max-width: 840px) {
  .oque__fazemos .preco {
    top: 50%;
  }
}

@media screen and (max-width: 690px) {
  .oque__fazemos .preco {
    width: 140px;
    height: 140px;
    right: 15px;
    top: calc(50% + 150px);
  }
}

.oque__fazemos .preco .preco__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.oque__fazemos .preco .preco__wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #00c4bd;
  font-size: 6em;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .oque__fazemos .preco .preco__wrapper span {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 840px) {
  .oque__fazemos .preco .preco__wrapper span {
    font-size: 3em;
  }
}

.oque__fazemos .preco .preco__wrapper span sup {
  font-size: .6em;
}

.oque__fazemos .preco .preco__wrapper span.preco__text {
  text-transform: uppercase;
  font-size: .8em;
}

@media screen and (max-width: 840px) {
  .oque__fazemos .preco .preco__wrapper span.preco__text {
    font-size: .7em;
  }
}

.oque__fazemos .preco .preco__wrapper span.preco__text:first-child {
  left: calc(50% - 45px);
  top: calc(50% - 45px);
}

@media screen and (max-width: 1200px) {
  .oque__fazemos .preco .preco__wrapper span.preco__text:first-child {
    left: calc(50% - 35px);
    top: calc(50% - 35px);
  }
}

@media screen and (max-width: 840px) {
  .oque__fazemos .preco .preco__wrapper span.preco__text:first-child {
    left: calc(50% - 15px);
    top: calc(50% - 25px);
  }
}

.oque__fazemos .preco .preco__wrapper span.preco__text:last-child {
  left: calc(50% + 60px);
  top: calc(50% + 20px);
}

@media screen and (max-width: 1200px) {
  .oque__fazemos .preco .preco__wrapper span.preco__text:last-child {
    left: calc(50% + 50px);
    top: calc(50% + 15px);
  }
}

@media screen and (max-width: 840px) {
  .oque__fazemos .preco .preco__wrapper span.preco__text:last-child {
    left: calc(50% + 30px);
    top: calc(50% + 15px);
  }
}

.tenho__interesse {
  padding: 0 0 0 30px;
}

@media screen and (max-width: 840px) {
  .tenho__interesse {
    padding: 0;
  }
}

@media screen and (max-width: 690px) {
  .tenho__interesse {
    padding: 0;
  }
}

.tenho__interesse:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -5px;
  width: 2px;
  height: 80%;
  background-color: #e5f6f5;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

@media screen and (max-width: 840px) {
  .tenho__interesse:before {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  .tenho__interesse:before {
    display: none;
  }
}

.tenho__interesse label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 690px) {
  .tenho__interesse .float-left {
    display: block;
    width: 100%;
  }
}

.tenho__interesse .button__alcancy {
  width: 200px;
  height: 50px;
}

@media screen and (max-width: 690px) {
  .tenho__interesse .button__alcancy {
    display: block;
    width: 100%;
  }
}

.acessar__sistema {
  position: relative;
  width: 500px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.acessar__sistema h1 {
  color: #00c4bd;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 690px) {
  .acessar__sistema h1 {
    margin-top: 20px;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 690px) {
  .acessar__sistema {
    width: 100%;
  }
}

.acessar__sistema label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .9em;
}

.acessar__sistema .button__alcancy {
  position: relative;
  width: 200px;
  height: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__dashboard {
  position: relative;
  height: 120px;
  background-color: #00a99b;
  color: #fff;
  text-transform: uppercase;
  padding: 0 100px;
}

@media screen and (max-width: 690px) {
  .header__dashboard {
    padding: 0 20px;
    height: 80px;
  }
}

.header__dashboard h4 {
  position: relative;
  display: inline-block;
  top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 690px) {
  .header__dashboard h4 {
    font-size: 1em;
    top: 20px;
    margin-left: 10px;
  }
}

.header__dashboard img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 690px) {
  .header__dashboard img {
    height: 40px;
  }
}

.dashboard__wrapper {
  margin-bottom: 50px;
}

.box__informativos {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

@media screen and (max-width: 690px) {
  .box__informativos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.box__informativos div {
  position: relative;
  float: left;
  border: 1px solid #e5e5e5;
  width: 350px;
  height: 450px;
}

@media screen and (max-width: 840px) {
  .box__informativos div {
    width: 230px;
    height: 480px;
  }
}

@media screen and (max-width: 690px) {
  .box__informativos div {
    width: 100%;
    margin-bottom: 30px;
  }
}

.box__informativos div img {
  position: relative;
  left: 50%;
  margin-top: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.box__informativos div h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: #666666;
  font-weight: 700;
  margin-top: 20px;
}

@media screen and (max-width: 840px) {
  .box__informativos div h4 {
    word-wrap: break;
  }
}

.box__informativos div hr {
  margin: 40px 40px 40px 40px;
}

.box__informativos div small, .box__informativos div span, .box__informativos div a {
  display: block;
  text-align: center;
  margin: 10px 30px;
  font-size: .8em;
}

.box__informativos div span {
  color: #fff;
  padding: 10px;
}

.box__informativos div span.completo {
  background-color: #00a99b;
}

.box__informativos div span.incompleto {
  background-color: #c70000;
}

.box__informativos div a {
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
}

.box__informativos div a.visualizar__documentos {
  color: #00c4bd;
  margin-bottom: 40px;
}

.box__informativos div small.indicador {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  margin: 0;
}

.filtro {
  margin-bottom: 30px;
}

.filtro .filtro__titulo i {
  color: #00c4bd;
}

.filtro .filtro__titulo h4 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}

.filtro .filtro__dados {
  background-color: #f7f7f7;
  padding: 10px;
}

@media screen and (max-width: 690px) {
  .filtro .filtro__dados input {
    margin-bottom: 5px;
  }
}

.filtro .filtro__dados .row .col-sm-2 {
  padding: 0;
}

.filtro .filtro__dados .button__alcancy__close__filtro {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 10px;
}

@media screen and (max-width: 690px) {
  .filtro .filtro__dados .button__alcancy__close__filtro {
    width: 100%;
    display: block;
    border-radius: 0;
    margin: 0;
  }
}

.datatable__alcancy thead {
  background-color: #00b879;
}

.datatable__alcancy thead th {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 690px) {
  .datatable__alcancy thead th {
    font-size: .8em;
  }
}

.datatable__alcancy td {
  text-transform: uppercase;
}

@media screen and (max-width: 690px) {
  .datatable__alcancy td {
    font-size: .8em;
  }
}

.datatable__alcancy td a {
  color: #000;
}

.datatable__alcancy td a:hover {
  color: #00c4bd;
}

nav {
  border-top: 1px solid #00c4bd;
  margin-top: 10px;
  padding-top: 10px;
}

nav small {
  float: left;
}

@media screen and (max-width: 690px) {
  nav small {
    float: none;
    display: block;
    font-size: .8em;
  }
}

nav ul.pagination li {
  margin: 0 5px;
}

nav ul.pagination li.active .page-link {
  background-color: #00c4bd;
}

nav ul.pagination li .page-link {
  outline: none;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50% !important;
  left: 50%;
  padding-top: 5px;
  color: #00c4bd;
  font-weight: 500;
}

.form__alcancy h5 {
  color: #00c4bd;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}

.pagamento__medico {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 20px;
}

.pagamento__medico img {
  width: 150px;
}

@media screen and (max-width: 690px) {
  .pagamento__medico img {
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 10px;
  }
}

.pagamento__medico span {
  padding-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 690px) {
  .pagamento__medico span {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
}

.pagamento__medico a {
  margin-left: 10px;
}

@media screen and (max-width: 690px) {
  .pagamento__medico a {
    margin: 0;
  }
}

.box__documentos {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
  max-width: 1500px;
}

@media screen and (max-width: 840px) {
  .box__documentos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .box__documentos div + div + div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 690px) {
  .box__documentos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .box__documentos div + div + div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.box__documentos div {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  width: 280px;
  height: 400px;
}

@media screen and (max-width: 1200px) {
  .box__documentos div {
    width: 250px;
    height: 400px;
  }
}

@media screen and (max-width: 690px) {
  .box__documentos div {
    width: 150px;
    height: 220px;
  }
}

.box__documentos div h4 {
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
  color: #666666;
  font-weight: 700;
}

@media screen and (max-width: 690px) {
  .box__documentos div h4 {
    font-size: 14px;
  }
}

.box__documentos div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
  .box__documentos div img {
    width: 80%;
  }
}

@media screen and (max-width: 690px) {
  .box__documentos div img {
    width: 50%;
  }
}

.box__documentos div button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 36px;
  border-radius: 3px;
  text-transform: uppercase;
}

@media screen and (max-width: 690px) {
  .box__documentos div button {
    width: 100px;
    font-size: .8em;
    bottom: 10px;
  }
}

.box__documentos div.nao__enviado {
  border-color: #ffa800;
}

.box__documentos div.enviado {
  border-color: #00a99b;
}

.header__documento__emitido {
  position: relative;
  padding-top: 100px;
  height: 160px;
}

.header__documento__emitido:before {
  content: '';
  position: absolute;
  top: 60px;
  left: 400px;
  width: 2px;
  height: 150px;
  background-color: #00c4bd;
}

@media screen and (max-width: 690px) {
  .header__documento__emitido:before {
    left: -15px;
  }
}

@media screen and (max-width: 690px) {
  .header__documento__emitido {
    margin-top: 30px;
  }
}

.header__documento__emitido img {
  margin-left: 100px;
  float: left;
  height: 70px;
}

@media screen and (max-width: 690px) {
  .header__documento__emitido img {
    position: absolute;
    margin-left: 20px;
    margin-top: 30px;
    width: 100px;
  }
}

.header__documento__emitido .informacoes__documento {
  position: relative;
  float: right;
  margin-right: 100px;
}

@media screen and (max-width: 690px) {
  .header__documento__emitido .informacoes__documento {
    margin-right: 20px;
    width: 220px;
  }
}

.header__documento__emitido .informacoes__documento .logo__alcancy {
  display: inline-block;
  width: 100%;
}

.header__documento__emitido .informacoes__documento .logo__alcancy img {
  position: relative;
  margin: 0;
  width: auto;
  height: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 690px) {
  .header__documento__emitido .informacoes__documento .logo__alcancy img {
    height: 20px;
  }
}

.header__documento__emitido .informacoes__documento p {
  margin: 0;
  text-align: center;
  font-size: .8em;
}

.header__documento__emitido .informacoes__documento p.chave {
  color: #fff;
  background-color: #000;
  padding: 3px;
}

.header__documento__emitido .informacoes__documento small {
  display: block;
  text-align: center;
}

.documento__emitido {
  padding: 100px;
}

@media screen and (max-width: 690px) {
  .documento__emitido {
    margin: 20px;
  }
}

.documento__emitido h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 150px;
}

@media screen and (max-width: 690px) {
  .documento__emitido h1 {
    font-size: 2em;
  }
}

.documento__emitido h1.cancelado {
  position: absolute;
  color: #CCC;
  font-weight: 700;
  font-family: arial black;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  font-size: 4em;
  opacity: .3;
}

.documento__emitido p.cid, .documento__emitido p.assinatura {
  margin-top: 100px;
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 500;
}

.documento__emitido p.assinatura {
  position: relative;
  text-align: right;
  padding-right: 100px;
}

@media screen and (max-width: 690px) {
  .documento__emitido p.assinatura {
    padding-right: 0;
    text-align: center;
  }
}

.documento__emitido p.assinatura:before {
  content: '';
  position: absolute;
  top: -20px;
  height: 2px;
  background-color: #000;
  width: 400px;
  right: 0;
}

@media screen and (max-width: 690px) {
  .documento__emitido p.assinatura:before {
    width: 100%;
  }
}

.documento__controlado {
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 100px 20px 100px;
}

.documento__controlado .identificacao__comprador,
.documento__controlado .identificacao__fornecedor {
  position: relative;
  display: inline-block;
  width: calc(50% - 20px);
  height: auto;
  border: 1px solid #000;
}

.documento__controlado .identificacao__fornecedor .assinaturas {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.documento__controlado .identificacao__fornecedor .assinaturas span {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  border-top: 1px solid;
  text-align: center;
}

.documento__controlado .identificacao__fornecedor .assinaturas span:nth-child(1) {
  width: 400px;
}

.documento__controlado .identificacao__fornecedor .assinaturas span:nth-child(2) {
  width: 150px;
}

.documento__controlado h4 {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid;
  padding: 5px;
}

.documento__controlado ul {
  padding: 10px;
  padding-bottom: 0;
}

.documento__controlado ul li {
  list-style: none;
  border-bottom: 1px solid;
  padding: 1px 0;
}

.documento__controlado ul li span:nth-child(2) {
  margin-left: 50%;
}

.documento__controlado ul li:last-child {
  border-bottom: none;
}

.footer__documento__emitido {
  display: block;
  height: 160px;
  border-top: 2px solid #00c4bd;
  margin: 0 100px;
  padding: 20px 0;
  border-top-width: calc(100% - 200px);
}

@media screen and (max-width: 690px) {
  .footer__documento__emitido {
    margin: 0 20px;
  }
}

.footer__documento__emitido .informacoes__medico, .footer__documento__emitido .informacoes__consultorio {
  float: left;
  margin-bottom: 20px;
}

.footer__documento__emitido .informacoes__medico p, .footer__documento__emitido .informacoes__consultorio p {
  margin: 0;
}

.footer__documento__emitido .informacoes__medico {
  margin-right: 40px;
}

/* @page {
  size: A4;
  margin: 0mm 0mm 0mm 0mm;
} */

@media print {
  .header__documento__emitido {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
  }
  .header__documento__emitido p.chave {
    color: #00c4bd !important;
    background-color: #fff !important;
    padding: 3px;
    font-weight: 700;
  }
  .documento__emitido {
    margin-top: 200px;
    width: 100%;
    position: relative;
  }
  .documento__controlado {
    position: fixed;
    bottom: 160px;
    width: 1100px;
  }
  .footer__documento__emitido {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
  }
  p {
    page-break-inside: avoid;
  }
  html, body {
    width: 210mm;
    height: 297mm;
  }
}

footer {
  position: relative;
  height: 150px;
  border-top: 2px solid #00c4bd;
}

footer img {
  position: relative;
  height: 60px;
  margin: 30px 0 0 100px;
}

@media screen and (max-width: 1200px) {
  footer img {
    margin: 30px 0 0 50px;
  }
}

@media screen and (max-width: 690px) {
  footer img {
    height: 40px;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(calc(-50% - 50px));
            transform: translateX(calc(-50% - 50px));
  }
}

footer ul {
  position: relative;
  list-style: none;
  float: right;
  margin: 20px 100px 0 0;
}

@media screen and (max-width: 1200px) {
  footer ul {
    margin: 20px 50px 0 0;
  }
}

@media screen and (max-width: 690px) {
  footer ul {
    margin: 20px;
  }
}

footer ul li {
  float: left;
  margin-right: 20px;
  font-size: .9em;
  color: #636e72;
}

footer ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 690px) {
  footer ul li {
    margin-top: 10px;
  }
}

footer ul li h4 {
  text-transform: uppercase;
  color: #00c4bd;
  font-size: 1em;
}

footer ul li ul {
  margin: 20px 0 0 0;
  display: inline-block;
}

footer ul li ul li {
  display: block;
  float: none;
  padding: 5px 0;
}

@media screen and (max-width: 690px) {
  footer ul li ul li {
    margin-top: 0;
  }
}

footer ul li ul li a {
  color: #636e72;
  text-decoration: none;
}

footer ul li ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=site.css.map */