.table-borderless td {
  border: none;
}

.cropper-container {
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

#assinatura{
  width: 100%;
  height: 220px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;  
}

canvas {
  width: 100%;
  height: 100%;
}

.btn-outline-danger {
  font-size: .8em;
  text-transform: uppercase;  
  margin-right: 5px;
}

.alcancy__desktop { 
  display: inline-block;
}
.alcancy__mobile {
  display: none;
}

@media screen and (max-width: 840px) { 
  #assinatura{
    height: 100px;
  }  

  .alcancy__desktop { 
    display: none;
  }
  .alcancy__mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 690px) {
  #assinatura{
    height: 100px;
  }

  .btn-outline-danger {
    display: block;
    width: 100%;
    margin-top: 5px;
  }
}

#modal-validacao-documento .modal-title {
  text-transform: uppercase;
}

#modal-validacao-documento .modal-footer {
  background-color: #00b879;
}